doctype html
html
    head
        title Sample App
    body 
        h1 Hello Express
        h3: a(href="/") HOME
        h3: a(href="/about") ABOUT
        block content
            form(action="/" method="post")
                input(name="name" placeholder="name") 
                input(name="age" placeholder="age") 
                button(type="submit") Submit

